.categoryBrowser {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.browserTitle {
  font-size: 2rem;
  margin-top: 20px;
  margin-left: 150px;
  text-align: left;
}

.highlight {
  color: #e74c3c;
}

.underline {
  width: 600px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #e74c3c;
}

.categoryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.categoryButton {
  display: flex; /* Align items in a row */
  align-items: center; /* Center align items vertically */
  border: 1px solid #77A83A;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  height: 50px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.categoryButton:hover {
  background-color: #77A83A;
  color: #fff;
}

.categoryButton img {
  margin-right: 8px; /* Space between image and text */
}

.categoryImage {
  width: 24px; /* Set width of the image */
  height: 24px; /* Set height of the image */
}

.active {
  background-color: #e74c3c;
}

@media (max-width: 600px) {
  .categoryButton {
    width: 100%;
    margin: 0.25rem 0;
  }
}
