.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    margin-bottom: 20px; /* Space between cards */
}
.projectCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.projectImage {
    width: 100%;
    height: auto;
    margin: 0; /* Ensure no margin is applied */
    border-radius: 0; /* Ensure no border radius is applied */
}

.projectInfo {
    padding: 20px;
    flex-grow: 1; /* Allow the projectInfo section to take up available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure the content is spaced out */
    width: 100%;
}

.projectDate {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #888;
}

.projectTitle {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 33.6px;
    margin: 10px 0;
}

.projectDescription {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 33.6px;
    color: #555;
    margin-bottom: auto; /* Push the description to the top */
}

.progressBar {
    margin-top: 10px;
    height: 20px; /* Increased height to accommodate text */
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative; /* Added for positioning */
    width: 100%; /* Ensure the progress bar takes full width */
}

.progressFill {
    height: 100%;
    background-color: #77A83A; /* Progress bar color */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    color: white; /* Text color */
    font-weight: bold; /* Text style */
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 33.6px;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between; /* Ensure buttons are aligned */
    gap: 10px; /* Space between buttons */
    margin-top: 10px; /* Adjust margin as needed */
    width:100%; /* Ensure buttons take full width */
}

.moreButton, .donateButton {
    background-color: #77A83A; /* Button background color */
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 33.6px;
    font-weight: bold;
    height: 40px; /* Fixed height for buttons */
    flex: 1; /* Make buttons take equal space */
    text-align: center; /* Center text in button */
}

.moreButton:hover, .donateButton:hover {
    background-color: white; /* Darker shade of button color on hover */
    border: 1px solid #77A83A;
    color: #77A83A;
}
