.contactFormSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 5%;
}

.formIntro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-align: left;
  justify-content: center; /* Center the formIntro */
}

.formTitle {
  color: #000;
  font: 700 36px/54px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.verticalLine {
  border-left: 2px solid #000;
  height: 60px;
  margin: 0 20px;
}

.formDescription {
  color: #000;
  font: 300 15px/23px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.mainContent {
  display: flex;
  gap: 20px;
}

.leftContent {
  flex: 1;
}

.thankYouNote {
  color: #000;
  font: 500 25px/23px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.followUs {
  color: #FF5C00;
  font: 500 20px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.socialIcons {
  display: flex;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  margin-top: 50px;
  gap: 10px;
}

.socialIcon {
  width: 40px;
  height: 40px;
}


.contactForm {
  flex: 2;
}

.formRow {
  display: flex;
  gap: 20px;
  width: 88.5%;
  margin-bottom: 24px;
}

.formGroup {
  flex: 1;
}

.formLabel {
  display: block;
  color: #000;
  font: 600 16px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 8px;
}

.formInput,
.formTextarea {
  width: 80%; /* Reduced width */
  padding: 8px 10px; /* Reduced padding */
  border: 1px solid #77a83a;
  background-color: var(--sds-color-background-default-default);
  color: #828282;
  font: 500 16px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}


.formTextarea {
  min-height: 150px;
  resize: vertical;
}

.submitButton {
  background-color: #77a83a;
  color: #fff;
  border: none;
  padding: 8px 32px;
  font: 500 20px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 24px;
  transition: background-color 0.3s, border-color 0.3s; /* Add smooth transition */
}

.submitButton:hover {
  background-color: #fff;
  color: #77a83a;
  border: 1px solid #77a83a; /* Border on hover */
}


@media (max-width: 991px) {
  .mainContent {
    flex-direction: column;
  }

  .formIntro {
    flex-direction: column;
    align-items: center; /* Center align the items */
  }

  .leftContent {
    margin-bottom: 20px;
  }

  .formRow {
    flex-direction: column;
    width: 100%; /* Adjusted to take full width on small screens */
    gap: 24px;
  }

  .submitButton {
    width: 100%;
  }
}
.errorMessage {
  color: red;
  margin-top: 10px;
}
