.contactPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

.pageTitle {
  color: #000;
  font: 800 36px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 54px;
  margin-top: 6%;
}

@media (max-width: 100%) {
  .mainContent {
    padding: 20px;
  }
}
