
.mainContent {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the content horizontally */
  padding: 20px;
  max-width: 100%;
  width: 100%;
}

.formContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
  width: 100%;
}

.pageTitle {
  color: #000;
  font: 800 36px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 54px;
  margin-top: 6%;
}

@media (max-width: 768px) {
  .mainContent {
    padding: 20px;
  }

  .formContainer {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .pageTitle {
    font-size: 28px; /* Adjust title font size for smaller screens */
  }
}
