.loginPage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #EDF0C7, #D4E1A5); /* Example gradient colors */
  min-height: 100vh;
}

  
  .mainContent {
    display: flex;
    flex-grow: 1;
    margin-top: 8%;
    margin-bottom: 1%;
    align-content: center;
    align-self: center;
    background-color: #77a83a;
  }
  
  @media (max-width: 200px) {
    .mainContent {
      flex-direction: column;
      padding-left: 20px;
    }
  }
  
  .welcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  
  @media (max-width: 991px) {
    .welcomeSection {
      width: 100%;
      align-items: center;
      margin-top: 40px;
    }
  }
  
  .welcomeTitle {
    font-size: 30px;
    font-weight: 700;
    margin-left: 5%;
    line-height: 150%;
    font-family: Inter, sans-serif;
  }
  
  .welcomeImage {
    aspect-ratio: 0.89;
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-top: 40px;
    align-items: center;
    align-self: center;
  }
  