.RegisterPage {
  display: flex;
  flex-direction: column;
  background-image: url('../../public/crowd.jpg'); /* Set your background image here */
  background-size: cover; /* Cover the entire page */
  background-position: fixed;
  min-height: 100vh;
}

  
  .mainContent {
    display: flex;
    flex-grow: 1;
    margin-bottom: 3%;
    margin-top: 8%;
    align-content: center;
    align-self: center;
  }
  
  @media (max-width: 100%) {
    .mainContent {
      flex-direction: column;
      padding-left: 20px;
    }
  }
  