.header {
  display: flex;
  padding-block: 50px;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  max-width: auto;
  margin: 0 20px;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure the header is above other content */
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoImage {
  width: 200px;
  height: 40px;
}

.navigation {
  flex-grow: 1;
  margin-left: 20%;
}

.navList {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navLink {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 12px 0;
  position: relative; /* Ensure the underline is positioned correctly */
}

.navLink:hover {
  color: #77a83a; /* Change text color on hover */
}

.navLink::after {
  content: ""; /* Create the underline */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #77a83a; /* Color of the underline */
  transition: width 0.3s; /* Smooth animation for underline */
}

.navLink:hover::after {
  width: 100%; /* Expand the underline on hover */
}

/* styles.module.css */
.createButton {
  background-color: #77a83a;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 4%;
  padding: 11px 22px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.createButton:hover {
  background-color: #fff;
  color: #77a83a;
  border: 1px solid #77a83a; /* Border on hover */
}

.buttonIcon {
  width: 30px;
  height: 30px;
}
.profileItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  position: relative;
  cursor: pointer;
}
.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profileName {
  font-size: 18px;
  font-weight: 600;
}

.dropdownMenu {
  position: absolute; /* Absolute positioning for dropdown */
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Ensures dropdown items are contained */
  width: 150px; /* Fixed width for dropdown */
  text-align: left; /* Align text to the left */
}

.dropdownItem {
  padding: 10px 15px;
  background-color: #fff;
  color: #333; /* Text color for dropdown items */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdownItem:hover {
  background-color: #f0f0f0; /* Hover state */
}

@media (max-width: 110%) {
  .header {
    flex-wrap: wrap;
  }

  .navigation {
    order: 3;
    width: 100%;
    margin-top: 20px;
  }

  .navList {
    flex-wrap: wrap;
  }

  .createButton {
    padding: 11px 20px;
  }
}
