.container {
  border: solid 1px black;
  border-top-width: 20px;
  border-top-color: #77a83a;
  flex-grow: 1;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.actions span {
  cursor: pointer;
}
.container table {
  border: solid 2px #77a83a;
}
td {
  vertical-align: middle;
}

tbody i {
  font-size: x-large;
}
.liens {
  vertical-align: top;
}
.plus {
  text-align: center; /* Center the icon in the table cell */
  cursor: pointer;    /* Change cursor to pointer to indicate it's clickable */
  padding: 10px;      /* Add some padding for better spacing */
  color: #4CAF50;     /* Icon color */
  font-size: 18px;    /* Icon size */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.plus:hover {
  color: #77A83A;     /* Change color on hover */
}
